page-changepassword {
    // .border{
    //     border-bottom: 1.5px solid #7a3e3e;
    // }
    .buttonmd {
        border-radius: 20px;
        overflow: hidden;
        height: 3.6rem;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        background-color: #7a3e3e;
    }
    .toolbar-background {
        background-color: #7a3e3e;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .iconmenu{
        color:#fff;
    }
    .toolbar-title{
      font-size: 2rem;
        font-weight: 500;
        color: #fff;
        text-align: center;
    }
    .center{
        margin-top: 50px !important;
    }
    }
    