page-quotesandresponse {

    .button{
        width: 30px;
    }
    .editButton{
        width: auto;
        background-color: #7a3e3e;
        color:#fff;
    }
    hr.style1{
        border-top: 1px  #4d4a4a;
    }
    .datalength{
        font-weight: 700;
        color:#7a3e3e;
        text-align: center;
      } 
}
